<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="androidauto-messaging" version="0.1.0">

  <name>AndroidAuto Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/androidAutoPlugin.js" target="js/androidAutoPlugin.js"/>

  <js-module src="www/androidAutoPlugin.js" name="AndroidAutoPlugin">
         <clobbers target="cordova.plugins.AndroidAutoPlugin" />
  </js-module>

  <platform name="android">
    
    <config-file parent="/*" target="res/xml/config.xml">
      
	<feature name="AndroidAutoPlugin">
		<param name="android-package" value="com.androidauto.messaging.AndroidAutoPlugin" />
		<param name="onload" value="true" />
	</feature>
      
    </config-file>
	  
	<config-file target="AndroidManifest.xml" parent="/*">
		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		<uses-permission android:name="android.permission.WAKE_LOCK" />
		<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />	
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-feature android:name="android.hardware.type.automotive" android:required="true" />
    </config-file>
    
    
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      
        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc"/>
      
        <service android:name="com.androidauto.messaging.AndroidAutoMessagingService" android:exported="true" android:enabled="true"/>
        
        <!-- <service android:name="com.androidauto.messaging.AndroidAutoFCMService" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service>

        <receiver android:name="com.androidauto.messaging.AndroidAutoFCMReceiver" 
                  android:process=":remote"
        /> -->
        
    </config-file>
    
    <framework custom="true" src="src/android/auto.gradle" type="gradleReference" />
    
    <resource-file src="src/android/res/xml/automotive_app_desc.xml" target="res/xml/automotive_app_desc.xml" />
    <resource-file src="src/android/cordova-plugin-auto-strings.xml" target="res/values/cordova-plugin-auto-strings.xml" />
    
    <source-file src="src/android/AndroidAutoPlugin.java" target-dir="com/androidauto/messaging"/>
    <source-file src="src/android/AndroidAutoFCMService.java" target-dir="com/androidauto/messaging"/>
    <source-file src="src/android/AndroidAutoMessagingService.java" target-dir="com/androidauto/messaging"/>
    <source-file src="src/android/AndroidAutoMessagingReadReceiver.java" target-dir="com/androidauto/messaging"/>
    <source-file src="src/android/AndroidAutoMessagingReplyReceiver.java" target-dir="com/androidauto/messaging"/>
    
  </platform>

</plugin>
