<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="com.bool.auto" version="0.1.0">

  <name>Auto</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/auto.js" target="js/auto.js"/>

  <js-module src="www/auto.js" name="auto">
    <clobbers target="auto" />
  </js-module>

  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc"/>
    </config-file>
  </platform>


</plugin>
